---
layout: default
title: Programs | Brink
description: Brink supports and mentors new contributors to open source Bitcoin development
  through our fellowship program, and supports the work of established Bitcoin protocol engineers
  through our grants program.
---

<h2 id="fellowship">Fellowship</h2>

<p>The Brink fellowship is an intensive one-year program to onboard exceptional
software engineers into Bitcoin protocol development. Developed and coordinated
by Brink director John Newbery, the fellowship draws on John’s four years
experience of contributing to Bitcoin Core, running the <a href="https://residency.chaincode.com/">Chaincode
Residencies</a> and <a href="https://bitcoincore.reviews/">PR Review
Club</a>, and mentoring many Bitcoin open source
contributors.</p>

<p>As a Brink fellow, you’ll spend a year working alongside John and the other
Brink fellows. You’ll learn about all aspects of the Bitcoin Core system,
including consensus, peer-to-peer networking, wallets and cryptography. You’ll
become an effective open source contributor, and will start making
contributions to the project from day one. By the end of your fellowship,
you’ll have a track record of high-quality, high-impact contributions to
Bitcoin Core or other open source projects, and you’ll be very well positioned
to seek funding or employment to continue your open source Bitcoin career.</p>

<p>If you love Bitcoin and can’t imagine wanting to work on any other project,
then there’s no better place to start your Bitcoin career. You’ll receive
dedicated mentoring and support, be surrounded by passionate Bitcoiners, and
learn by doing - making contributions to Bitcoin Core and other projects.</p>

<p>We’re looking for developers from all backgrounds to apply. You need to be
passionate about Bitcoin and hungry to make contributions to the project.
There are no specific educational requirements - evidence of prior open source
contributions (code review, technical writing, etc) is far more important.</p>

<p>Fellows will be paid a competitive salary, with all of the benefits you’d
expect for a software engineering job. The fellowship takes place in our London
office, so applicants must be prepared to relocate. We may be able to help with
travel and visas on a case-by-case basis.</p>

<p>To apply for the fellowship, please fill out the <a href="https://forms.gle/hhsAFmot8PKd3SQE8">
  fellowship application form</a> with some information about yourself:</p>

<ul>
  <li>Describe some contributions you’ve made to open source projects, or any other
  projects you’re particularly proud of.</li>
  <li>Are there any projects that you’re particularly interested in working on?</li>
  <li>What do you want to do with the experience that you gain at the fellowship?</li>
</ul>

<p>Good luck!

<p><em>Brink is an equal opportunity employer and does
not discriminate in its hiring process with applicants, whether internal or
external, because of race, creed, color, age, national origin, ancestry,
religion, gender, sexual orientation, gender identity, disability, genetic
information, veteran status, military status, application for military
service or any other class per local, state or federal law.</em></p>

<h4 id="brink_fellows">Brink Fellows</h4>

<div class="team-container">
  {% for item in site.data.team.fellows %}
  <div class="team-row">
    <div class="image-column">
      <img src="{{ item.image }}" alt="{{ item.alt }}"/>
    </div>
    <div class="text-column">
      <h1 class="team-name">{{ item.name }}</h1>
      <h3 class="item-title">{{ item.title | upcase }}</h3>
      <p class="item-description">
        {{ item.description }}
      </p>
      {% if item.social %}
      <div class="team-social">
        <a href="{{ item.link }}" target="_blank">{{ item.social }}</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<h2 id="grants">Grants</h2>

<p>Bitcoin's long-term success requires a sustainable funding model
for open source developers to maintain and extend the protocol, test and
review code changes, and fix critical bugs in the software. Brink was founded
to support Bitcoin development and Bitcoin open source developers. Our grant
program is central to that mission.</p>

<p>The grant program awards year-long grants to established Bitcoin protocol
developers to work full time on open source Bitcoin projects. Our primary focus
is on the security and stability of the base protocol, but we will also fund
research and development on extending functionality, scalability and usability of
Bitcoin and related projects, including Lightning and other layer two technologies.</p>

<p>The grant program is open to developers anywhere in the world. Grant applicants must:</p>

<ul>
  <li>have a track record of making high-quality, security-first contributions to
  Bitcoin or related projects.</li>
  <li>be committed to transparency and accountability. Brink is a publicly funded
  organization, and grantees are expected to publicly commit to project
  deliverables and give regular public updates on progress.</li>
  <li>be self-motivated and self-driven. Grantees will provide regular public
  updates on their projects, but day-to-day will be working independently. To
  be successful, grantees must thrive in a no-management work environment.</li>
  <li>be able to work collaboratively and constructively with other open-source
  contributors.</li>
  <li>be committed to increasing the impact of their contributions, growing the
  developer ecosystem and scaling Bitcoin and related projects.</li>
</ul>

<p>To apply for a Brink grant, please fill out the <a href="https://forms.gle/zr5QKoV59pkUfBL47">
  grant application form</a> with the following information:</p>

<ul>
  <li>Describe the contributions you've made to Bitcoin Core or other
  Bitcoin-related projects.</li>
  <li>Your current funding situation, and whether you've been the recipient of
  any other grants of funding for your open-source work.</li>
  <li>What project you intend to work on, including expected deliverables and
  timeline</li>
</ul>

<p><em>Brink is an equal opportunity employer and does
not discriminate in its hiring process with applicants, whether internal or
external, because of race, creed, color, age, national origin, ancestry,
religion, gender, sexual orientation, gender identity, disability, genetic
information, veteran status, military status, application for military
service or any other class per local, state or federal law.</em></p>
