---
layout: default-with-background
title: Team | Chaincode Labs
---

<div class="team-container">
  {% for item in site.data.team %}
  <div class="team-row">
    <div class="image-column">
      <img src="{{ item.image }}" alt="{{ item.alt }}" />
    </div>
    <div class="text-column">
      <h1 class="team-name">{{ item.name }}</h1>
      <h3 class="item-title">{{ item.title | upcase }}</h3>
      <p class="item-description">
        {{ item.description }}
      </p>
      {% if item.social %}
      <div class="team-social">
        <a href="{{ item.link }}" target="_blank">{{ item.social }}</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
