<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Chaincode Labs exists to support Bitcoin"
    />
    <title>{{ page.title }}</title>
  </head>
  <body class="background-image">
    {% include navigation.html %}
    <main>{{ content }}</main>
  </body>
</html>
